.column {
    border: 1px solid #333;
    border-radius: 12px;
    padding: 20px;
    flex: 1; 
    min-width: 300px;
    max-width: 45%; 
    background-color: #1e1e1e;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    min-height: 300px;
    display: flex;
    flex-direction: column; 
    gap: 15px; 
  }
  

.column h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #ffffff;
}

.extra-info {
    margin: 10px 0;
    font-size: 0.9rem;
    color: #aaaaaa;
  }  
  
  .card p {
    margin: 5px 0;
  }
  